.editor { font-family: Montserrat; color: #414A52; caret-color: #898E8A; overflow: hidden; }
.editor var { font-style: normal; }
.editor span, .editor [data-open], .editor [data-close] { color: #D4D8D5; font-weight: normal; }
.editor [data-number], .editor [data-unit] { color: #3B89C6; }
.editor [data-result], .editor [data-equal], .editor [data-plus], .editor [data-min], .editor [data-and], .editor [data-or], .editor [data-k] { color: #D776C7; }
.editor [data-div], .editor [data-mul], .editor [data-number] span { position: relative; color: transparent; display: inline-block; width: .5em; }
.editor [data-div]::after, .editor [data-mul]::after { caret-color: #898E8A; color: #D776C7; position: absolute; left: -2px; bottom: 0; }
.editor [data-number] span::after { content: '⁄'; color: #3B89C6; position: absolute; left: 4px; }
.editor [data-div]::after { content: '÷'; }
.editor [data-mul]::after { content: '×'; }

/* montserrat-regular - latin */
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/montserrat-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('./fonts/montserrat-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/montserrat-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/montserrat-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/montserrat-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/montserrat-v13-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-600 - latin */
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/montserrat-v13-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('./fonts/montserrat-v13-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/montserrat-v13-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/montserrat-v13-latin-600.woff') format('woff'), /* Modern Browsers */
       url('./fonts/montserrat-v13-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/montserrat-v13-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}
