.editor var { font-style: normal; }
.editor span { color: silver; font-weight: normal; }
.editor [data-number], .editor [data-unit] { color: purple; font-weight: bold; }
.editor [data-equal], .editor [data-plus], .editor [data-min] { color: gray; }
.editor [data-div], .editor [data-mul] { color: red; }
